<div class="modal-demo">
  <div class="container">
    <form class="form-signin">
      <h2 class="form-signin-heading">Please sign in</h2>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" ng-model="signin.email" id="inputEmail" class="form-control" placeholder="Username" required autofocus="">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" ng-model="signin.password" id="inputPassword" class="form-control" placeholder="Password" required>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <span class="danger" ng-show="signin.errorMessage"><i class="fa fa-exclamation-circle"></i>  {{signin.errorMessage}}</span>
      <button style="margin-top: 10px" class="btn btn-lg btn-primary btn-block" ng-click="signin.onSigninClicked()" type="submit">Sign in</button>
    </form>
    <div id="loader" ng-show="signin.isLoading"></div>
  </div>
</div>
