<div class="modal-demo">
  <!-- Top Nav -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">uManager</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li>
            <a href="#" class="active">Dashboards</a>
          </li>
          <li>
            <a href="#">Admin</a>
          </li>
        </ul>
      </div>
      <div class="nav navbar-text pull-right">
        Welcome {{main.fireBaseUser.email}}! (<a class="navbar-link" ng-click="main.onLogOutClicked()">Log Out</a>)
      </div>
    </div>
  </nav>

  <!-- Main Content -->
  <div class="container-fluid">
    <div class="row">
      <!-- Side navbar -->
      <div class="col-lg-2">
        <h1 class="lead">Dashboards</h1>
        <div class="list-group">
          <a ng-repeat="board in main.boards" ng-click="main.onBoardClicked(board)"
             ng-class="main.getActiveBoard(board)">{{board.name}}</a>
        </div>
      </div>

      <!-- Main section -->
      <div class="col-lg-10">
        <h1 class="lead" ng-if="main.currentBoard.isParentBoard">Project Overview <button ng-click="main.trelloButtonClicked()" type="button" class="btn btn-primary pull-right"><span class="fa fa-external-link"></span>  View on Trello</button></h1>
        <h1 class="lead" ng-if="main.currentBoard && !main.currentBoard.isParentBoard">Development Team View <button ng-click="main.trelloButtonClicked()" type="button" class="btn btn-primary pull-right"><span class="fa fa-external-link"></span>  View on Trello</button></h1>
        <div class="danger" style="width: 100%" ng-show="main.errorMessage"><i class="fa fa-exclamation-circle"></i>  {{main.errorMessage}} <a class="pull-right" ng-click="main.errorMessage = ''" style="font-size: 8px">✖</a></div>
        <div class="row draggable-lists">
          <div class="col-lg-2" ng-repeat="list in main.lists">
            <div class="panel panel-info">
              <div class="panel-heading"><h3 class="panel-title">{{list}}</h3></div>
              <div class="panel-body">
                <ul dnd-list dnd-drop="callback({targetList: list, targetIndex: index})">
                  <li ng-repeat="item in main.models.lists[list]"
                      dnd-draggable="null"
                      dnd-callback="main.onDrop(main.models.lists[list], $index, targetList, targetIndex, item)">
                    {{item.name}}
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
        <button ng-click="main.createTaskClicked()" type="button" class="btn btn-primary"><span ng-if="main.user.type !== 'CLIENT'">Create Task</span><span ng-if="main.user.type === 'CLIENT'">Request Functionality</span></button>
        <table style="margin-top: 10px" class="table table-responsive table-dark">
          <tr>
            <th>Task</th>
            <th>Team</th>
            <th>Last Update</th>
            <th colspan="2">Actions</th>
          </tr>
          <tr ng-repeat="task in main.tasks">
            <td><span class="card"><span>{{task.name}}</span></span></td>
            <td>{{task.team.name}}</td>
            <td>{{task.dateLastActivity | date:'dd/MM/yyyy HH:mm'}}</td>
            <td>
              <button ng-click="main.editTaskClicked(task)" style="cursor: pointer" class="fa fa-pencil"></button>
            </td>
            <td>
              <button ng-click="main.deleteTaskClicked(task)" style="cursor: pointer" class="fa fa-trash"></button>
            </td>
          </tr>
        </table>
        <div id="loader" ng-show="main.isLoading"></div>
      </div>
    </div>
  </div>

  <div class="container-fluid" style="background: #222">
    <!-- Footer -->
    <footer class="text-center">
      <div class="row">
        <div class="col-lg-12">
          <p class="text-center" style="color: white;padding-top: 25px; padding-bottom: 25px">Copyright &copy; uManager
            2017</p>
        </div>
      </div>
    </footer>
  </div>

</div>
