<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Delete Task</h3>
</div>
<div class="modal-body" id="modal-body">
  <div><span class="fa fa-trash fa-3x col-lg-2" style="vertical-align: middle"></span>Are you sure you want to
    permanently delete this task?
  </div>
  <div id="loader" ng-show="$ctrl.isLoading"></div>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" type="button" ng-click="$ctrl.ok()">Delete</button>
  <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>
