<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Edit Task</h3>
</div>
<div class="modal-body" id="modal-body">
  <form class="form-horizontal" role="form" name="editTask">
    <div class="form-group">
      <label class="col-sm-2 control-label" for="cardName">Name <span style="color: red">*</span></label>
      <div class="col-sm-10">
        <input required class="form-control" ng-model="$ctrl.name" type="text" id="cardName" placeholder="Card Name">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="cardDescription">Description</label>
      <div class="col-sm-10">
        <textarea class="form-control" ng-model="$ctrl.desc" id="cardDescription" placeholder="Card Description"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="cardTeam">Team <span style="color: red">*</span></label>
      <div class="col-sm-10">
        <select required class="form-control" ng-model="$ctrl.team" id="cardTeam"
                ng-options="team as team.name for team in $ctrl.teams" ng-change="$ctrl.validateTeam($ctrl.team)"></select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="cardTeam">Phase <span style="color: red">*</span></label>
      <div class="col-sm-10">
        <select required class="form-control" ng-model="$ctrl.phase" id="cardPhase"
                ng-options="phase as phase.phase for phase in $ctrl.phases" ng-disabled="$ctrl.phaseDisabled" ng-change="$ctrl.validatePhase($ctrl.phase)"></select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="cardTeam">Status <span style="color: red">*</span></label>
      <div class="col-sm-10">
        <select required class="form-control" ng-model="$ctrl.status" id="cardStatus"
                ng-options="status as status.status for status in $ctrl.statuses"></select>
      </div>
    </div>
    <span class="col-sm-12 danger" ng-show="$ctrl.message"><i class="fa fa-exclamation-circle"></i>  {{$ctrl.message}}</span>
  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="$ctrl.message || editTask.$invalid" ng-click="$ctrl.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>
